{% extends 'base.html.twig' %}
{% block title %}Acteur #{{ actor.id }}{% endblock %}

{% block body %}

<h1>{{ actor.name}}</h1>
<img class="align-self-start mr-3" src="/uploads/{{actor.image}}" alt="{{ actor.name }} image">
<div class="media">
<ul>
  {% for program in programs %}
  <div>
    <li> 
      <a href="{{ path("program_show", { 'slug': program.slug }) }}">
        {{ program.title }}
      </a>
    </li>
  </div>
  {% endfor %}
</ul>
</div>
<a href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a>

{% endblock %}