
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbartopblock">
    <ul>
      <div class="navbartop">
        {{ render(controller('App\\Controller\\DefaultController::navbartop')) }}
      </div>
    </ul>
  </div>

  <a class="navbar-brand" href="{{path('app_index')}}">Home</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{{path('program_index')}}">{{'Programs'|trans}} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('category_index')}}">{{'Catégories'|trans}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('program_new')}}">{{'Add.show'|trans}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('category_new')}}">{{'Add.category'|trans}}</a>
      </li>
      
      <div class="dropdown">
                <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'language'|trans }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ path('app_index', {'_locale':'fr'})}}">Fr</a>
                    <a class="dropdown-item" href="{{ path('app_index', {'_locale':'en'})}}">En</a>

                </div>
            </div>
    </ul>
  </div>
</nav>

