<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/build/app.css">
        {% endblock %}
        
    </head>
    <body>
    <header>
        {% include '_navbar.html.twig' %}
    </header>
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% if app.user %}
            {{ app.user.email }}
                <a href="{{ path ('profile_index')}}"> Voir mon profil </a>
                <a href="{{ path('app_logout') }}"> Se déconnecter </a>
        {% else %}
            <a href="{{ path('app_login') }}"> Se connecter</a>
        {% endif %}
        
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="/build/app.js"></script>
        {% endblock %}
    </body>
</html>
